.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-card {
  height: 52px;
  padding: 6px;

  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.user-image {
  background-image: url('/assets/images/user_icon.jpg');
  background-size: cover;
  height: 50px;
  width: 50px;
}

.sub-header {
  color: var(--accent-color);
  font-weight: 700;
}

.active {
  background-color: var(--primary-lighter-color);
}
